{{>navbarseller parameter=userID}}
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <form action="/seller/update/{{userID}}/{{prodid}}" method="POST">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Product Name</label>
                    <input type="Text" class="form-control" name="name" id="exampleFormControlInput1" value="{{name}}">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Product Description</label>
                    <input type="Text" class="form-control" name="description" id="exampleFormControlInput1"
                        value="{{description}}">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Product Image URL</label>
                    <input type="Text" class="form-control" name="imageurl" id="exampleFormControlInput1"
                        value="{{imageurl}}">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Price</label>
                    <input type="number" class="form-control" name="price" id="exampleFormControlInput1"
                        value="{{price}}" min="1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Quantity of items for sale</label>
                    <input type="number" class="form-control" name="quantity" id="exampleFormControlInput1"
                        value="{{quantity}}" min="1">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Update Product</button>
            </form>
        </div>
    </div>
</div>